@charset "UTF-8";
html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header .yuantaplusLogo {
      width: 87px;
      height: 26px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.appDownload {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  .appDownload-QRcode img {
    width: 100px;
    margin-right: 20px; }
  .appDownload-link h5 {
    margin-bottom: 13px;
    font-size: 15px;
    line-height: 19px;
    text-align: center; }
  .appDownload-link a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    transition: .3s; }
  .appDownload-link img {
    width: 170px; }
  @media only screen and (min-width: 1024px) {
    .appDownload-link a:hover {
      transform: translateY(-10%); } }
  @media only screen and (max-width: 1023px) {
    .appDownload {
      margin-top: 50px; }
      .appDownload-QRcode {
        display: none; }
      .appDownload-link img {
        width: 140px; } }

.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px 60px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 10px;
  transform: translateY(50%);
  display: none;
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/socialmedia_facebook_grey.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/socialmedia_line_grey.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/socialmedia_instagram_grey.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/socialmedia_youtube_grey.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/socialmedia_telegram_grey.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/socialmedia_facebook.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/socialmedia_line.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/socialmedia_instagram.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/socialmedia_youtube.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/socialmedia_telegram.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/socialmedia_facebook.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/socialmedia_line.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/socialmedia_instagram.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/socialmedia_youtube.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/socialmedia_telegram.svg); } }

.gotop {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 50px;
  height: 50px;
  display: none;
  border-radius: 25px;
  opacity: .7;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: 1; }
  @media only screen and (max-width: 767px) {
    .gotop {
      width: 40px;
      height: 40px;
      bottom: 70px;
      right: 20px; } }

@-webkit-keyframes scroll {
  0% {
    transform: translate(-50%, 0); }
  100% {
    transform: translate(-50%, 80%); } }

@keyframes scroll {
  0% {
    transform: translate(-50%, 0); }
  100% {
    transform: translate(-50%, 80%); } }

@-webkit-keyframes eyes {
  0% {
    transform: scaleY(1); }
  10% {
    transform: scaleY(0); }
  20% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

@keyframes eyes {
  0% {
    transform: scaleY(1); }
  10% {
    transform: scaleY(0); }
  20% {
    transform: scaleY(1); }
  100% {
    transform: scaleY(1); } }

@-webkit-keyframes telescope {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(2deg); } }

@keyframes telescope {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(2deg); } }

@-webkit-keyframes phone {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(3deg); } }

@keyframes phone {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(3deg); } }

@-webkit-keyframes logo {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

@keyframes logo {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }

@-webkit-keyframes man {
  0% {
    transform: skewX(-2deg); }
  100% {
    transform: skewX(2deg); } }

@keyframes man {
  0% {
    transform: skewX(-2deg); }
  100% {
    transform: skewX(2deg); } }

.banner {
  position: relative;
  padding-bottom: 42%;
  background-image: url(../images/banner/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden; }
  .banner img {
    width: 100%; }
  .banner-item {
    position: absolute; }
  .banner-title {
    top: 3%;
    left: 28%;
    width: 46%; }
  .banner-eyes {
    top: 15%;
    left: 43%;
    width: 3.7%; }
    .banner-eyes img {
      -webkit-animation-name: eyes;
              animation-name: eyes;
      -webkit-animation-duration: 1.5s;
              animation-duration: 1.5s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  .banner-light {
    top: 14%;
    left: 43%;
    width: 3.7%; }
  .banner-subTitle {
    top: 31%;
    left: 36.5%;
    width: 26%; }
  .banner-text {
    top: 39%;
    left: 33%;
    width: 33%; }
  .banner-man {
    left: 37%;
    bottom: -16%;
    width: 22%; }
    .banner-man img {
      -webkit-animation-name: man;
              animation-name: man;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  .banner-group {
    left: 14%;
    bottom: -13.5%;
    width: 68%; }
    .banner-group::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(./../images/banner/group-mask.png);
      background-size: 100%; }
  .banner-telescope {
    top: 17%;
    left: 0;
    width: 33%; }
    .banner-telescope img {
      transform-origin: top right;
      -webkit-animation-name: telescope;
              animation-name: telescope;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  .banner-phone {
    bottom: 32%;
    right: 33%;
    width: 14%; }
    .banner-phone img {
      transform-origin: top left;
      -webkit-animation-name: phone;
              animation-name: phone;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  .banner-logo {
    top: 7.5%;
    right: 3%;
    width: 11%; }
    .banner-logo img {
      -webkit-animation-name: logo;
              animation-name: logo;
      -webkit-animation-duration: 2s;
              animation-duration: 2s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  .banner-scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    background-color: #4179ce; }
    .banner-scroll::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 50%;
      transform: translate(-50%, 0);
      display: block;
      width: 33px;
      height: 18px;
      background-image: url(./../images/icon/arrow.png);
      background-repeat: no-repeat;
      -webkit-animation-name: scroll;
              animation-name: scroll;
      -webkit-animation-duration: .8s;
              animation-duration: .8s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
              animation-direction: alternate; }
  @media only screen and (max-width: 1700px) {
    .banner-eyes {
      top: 14.5%; }
    .banner-light {
      top: 13.5%; } }
  @media only screen and (max-width: 1350px) {
    .banner-eyes {
      top: 14%; }
    .banner-light {
      top: 13%; } }
  @media only screen and (max-width: 1180px) {
    .banner-eyes {
      top: 13.5%; }
    .banner-light {
      top: 12.5%; } }
  @media only screen and (max-width: 1023px) {
    .banner-eyes {
      top: 15.5%; }
    .banner-light {
      top: 15%; } }
  @media only screen and (max-width: 580px) {
    .banner-eyes {
      top: 15%; }
    .banner-light {
      top: 14.5%; } }
  @media only screen and (max-width: 450px) {
    .banner-eyes {
      top: 14.3%; }
    .banner-light {
      top: 14%; } }
  @media only screen and (max-width: 1023px) {
    .banner {
      padding-bottom: 158%;
      background-image: url(../images/banner/bg-mb.jpg); }
      .banner-title {
        top: 3.5%;
        left: 12.5%;
        width: 80%; }
      .banner-eyes {
        left: 56.8%;
        width: 10%; }
      .banner-light {
        left: 56.8%;
        width: 10%; }
      .banner-subTitle {
        top: 42%;
        left: 13%;
        width: 72.5%; }
      .banner-text {
        top: 50%;
        left: 6.5%;
        width: 86%; }
      .banner-man {
        left: 22%;
        bottom: -5%;
        width: 50%; }
      .banner-group {
        left: 5%;
        bottom: -11.7%;
        width: 93%; }
        .banner-group::after {
          background-image: url(./../images/banner/group-mask-mb.png); }
      .banner-telescope {
        top: 13%;
        left: 1%;
        width: 32%; }
      .banner-phone {
        bottom: 42%;
        right: 26%;
        width: 22%; }
      .banner-logo {
        top: 6.5%;
        right: 7%;
        width: 11%; }
      .banner-scroll {
        width: 55px;
        height: 55px; }
        .banner-scroll::after {
          content: '';
          top: 9px;
          width: 18px;
          height: 9.5px;
          background-size: 100%; } }

.action {
  display: flex;
  justify-content: center; }
  .action-item {
    flex: 0 1 350px;
    max-width: 350px; }
    .action-item + .action-item {
      margin-left: 37px; }
  @media only screen and (max-width: 767px) {
    .action {
      display: block; }
      .action-item {
        max-width: 210px;
        margin: auto; }
        .action-item + .action-item {
          margin-top: 20px;
          margin-left: auto; } }

.btn {
  position: relative;
  display: block;
  border-radius: 44px;
  cursor: pointer; }
  .btn:hover img {
    transform: translateY(8px); }
  @media only screen and (max-width: 767px) {
    .btn:hover img {
      transform: none; } }

.wrap {
  position: relative;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px; }

.sky {
  background-image: linear-gradient(to top, #70a9e7, #4179ce); }

.cloud {
  padding: 100px 0 70px;
  background-color: #d2e7fa; }
  @media only screen and (max-width: 1023px) {
    .cloud {
      padding: 50px 0; } }

@-webkit-keyframes shine {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(720deg); }
  100% {
    transform: rotate(720deg); } }

@keyframes shine {
  0% {
    transform: rotate(0); }
  50% {
    transform: rotate(720deg); }
  100% {
    transform: rotate(720deg); } }

.block {
  padding-top: 105px; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px; }
  .block-title {
    margin-bottom: 35px;
    text-align: center; }
    .block-title span {
      display: inline-block;
      vertical-align: middle;
      margin: 0 7px 0 10px;
      font-size: 50px;
      font-weight: 500;
      letter-spacing: 2.5px;
      color: #fff; }
    .block-title::before, .block-title::after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 28px;
      height: 28px;
      background-image: url(./../images/icon/shine.png);
      background-repeat: no-repeat;
      background-size: contain;
      -webkit-animation-name: shine;
              animation-name: shine;
      -webkit-animation-duration: 2.5s;
              animation-duration: 2.5s;
      -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite; }
  .block-text {
    margin-bottom: 50px;
    text-align: center; }
  .block-content {
    padding-top: 20px; }
  @media only screen and (max-width: 1023px) {
    .block {
      padding-top: 70px; }
      .block-title {
        margin-bottom: 20px; }
        .block-title span {
          margin: 0 2px 0 5px;
          font-size: 26px; }
        .block-title::before, .block-title::after {
          width: 15px;
          height: 15px; }
      .block-text {
        margin-bottom: 30px;
        font-size: 14px; }
      .block-content {
        padding-top: 10px; } }

.block.-task .block-wrap {
  max-width: 1300px; }
  .block.-task .block-wrap::before {
    content: '';
    position: absolute;
    top: 100px;
    left: -50px;
    width: 193px;
    height: 193px;
    background-image: url(./../images/background/coins.png);
    background-repeat: no-repeat; }
  .block.-task .block-wrap::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -130px;
    transform: translateY(-50%);
    width: 252px;
    height: 217px;
    background-image: url(./../images/background/pen.png);
    background-repeat: no-repeat; }

.block.-task .block-bg {
  margin-top: 60px;
  padding: 90px 50px 70px;
  border: 50px solid #0d5199;
  border-radius: 30px;
  background-color: #d2e7fa; }
  .block.-task .block-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -45%);
    width: 346px;
    height: 122px;
    background-image: url(./../images/background/clip.png);
    background-repeat: no-repeat; }

.block.-task .block-title span {
  color: #0d5199; }

.block.-lottery {
  position: relative;
  padding-bottom: 20px; }
  .block.-lottery::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1920px;
    height: 100%;
    background-image: url(./../images/background/flag.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%; }
  .block.-lottery::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 1920px;
    height: 100%;
    background-image: url(./../images/background/wave.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100%; }

.block.-lottery .block-wrap {
  z-index: 1; }

.block.-lottery .block-content {
  box-sizing: border-box;
  padding: 55px 70px 65px;
  border-radius: 30px;
  border: 2px solid #fff;
  background-color: #366cbe; }

@media only screen and (max-width: 1023px) {
  .block.-task {
    position: relative;
    margin-top: 190px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #d2e7fa;
    z-index: 1; }
    .block.-task::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 1023px;
      height: 106px;
      background-image: url(./../images/background/wave-top.png); }
    .block.-task::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 1023px;
      height: 106px;
      background-image: url(./../images/background/wave-bottom.png); }
  .block.-task .block-wrap::before {
    top: -110px;
    left: 50px;
    width: 48px;
    height: 48px;
    background-image: url(./../images/background/coins-mb.png);
    background-size: 100%; }
  .block.-task .block-wrap::after {
    top: -130px;
    right: -50px;
    transform: none;
    width: 120px;
    height: 105px;
    background-size: 100%; }
  .block.-task .block-bg {
    margin-top: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent; }
    .block.-task .block-bg::after {
      content: none; }
  .block.-lottery {
    padding-top: 155px;
    padding-bottom: 110px;
    background-color: #4179ce; }
    .block.-lottery::before {
      min-width: 1023px;
      background-image: url(./../images/background/flag-mb.png);
      background-position: top 52px center; }
    .block.-lottery::after {
      min-width: 1023px;
      background-image: url(./../images/background/wave-top.png); }
  .block.-lottery .block-content {
    padding: 0;
    border-radius: 0;
    border: none;
    background-color: transparent; } }

.puzzleGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px; }
  .puzzleGrid-item {
    flex: 0 0 auto;
    width: 376px;
    margin: -8px; }
  @media only screen and (max-width: 1279px) {
    .puzzleGrid {
      margin: 12px; }
      .puzzleGrid-item {
        margin: -12px; } }
  @media only screen and (max-width: 1023px) {
    .puzzleGrid {
      display: block;
      max-width: 450px;
      margin: 0 auto; }
      .puzzleGrid-item {
        width: 265px;
        margin: 0;
        margin-left: auto;
        margin-right: -15px; }
        .puzzleGrid-item:nth-of-type(even) {
          margin-left: -15px;
          margin-right: auto; }
        .puzzleGrid-item + .puzzleGrid-item {
          margin-top: 25px; }
        .puzzleGrid-item:nth-of-type(3) {
          margin-top: -10px; } }

.puzzle {
  position: relative; }
  .puzzle-pic {
    position: absolute;
    top: -7px;
    left: 50px;
    transform: translateX(-100%);
    z-index: 1;
    pointer-events: none; }
  .puzzle-content {
    position: relative;
    box-sizing: border-box;
    width: 376px;
    height: 376px;
    padding: 60px 100px 20px 50px;
    color: #fff; }
    .puzzle-content::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url(./../images/background/puzzle01.png);
      background-size: 100%;
      pointer-events: none; }
  .puzzle-title {
    display: inline-block;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 500;
    border-bottom: 1px solid #fff; }
  .puzzle-text {
    height: 140px;
    margin: 17px 0 12px;
    font-size: 20px;
    line-height: 1.4; }
    .puzzle-text span {
      color: #fff2ad; }
    .puzzle-text b {
      color: #ffba00; }
    .puzzle-text .note {
      display: inline-block;
      font-size: 14px; }
  .puzzle-btn {
    display: inline-block;
    padding: 1px 20px 4px;
    font-size: 18px;
    text-decoration: none;
    color: #fff;
    border-radius: 17px;
    background-color: #ea6000; }
    .puzzle-btn img {
      margin-right: 4px; }
    .puzzle-btn span {
      display: inline-block;
      vertical-align: middle; }
    .puzzle-btn .go {
      margin-left: 5px;
      padding: 0 9px 1px 9px;
      font-size: 12px;
      color: #ea6000;
      border-radius: 10px;
      background-color: #fff; }
    .puzzle-btn.-gn {
      background-color: #3e7457; }
      .puzzle-btn.-gn .go {
        color: #3e7457; }
  @media only screen and (min-width: 1024px) {
    .puzzle-btn {
      transition: .3s; }
      .puzzle-btn:hover {
        transform: scale(1.1); } }
  @media only screen and (max-width: 1023px) {
    .puzzle-pic {
      top: -3px;
      left: 40px; }
      .puzzle-pic img {
        width: 230px; }
    .puzzle-content {
      width: 265px;
      height: 265px;
      padding: 35px 60px 40px 30px; }
    .puzzle-title {
      padding-bottom: 3px;
      font-size: 20px; }
    .puzzle-text {
      height: 105px;
      margin: 10px 0 5px;
      font-size: 15px; }
      .puzzle-text .note {
        font-size: 12px; }
    .puzzle-btn {
      padding: 1px 17px 3px;
      font-size: 14px; }
      .puzzle-btn img {
        width: 11px;
        margin-right: 2px; }
      .puzzle-btn .go {
        margin-left: 3px;
        padding: 0 5px 1px 5px;
        font-size: 12px;
        line-height: 1.2; } }

.puzzle.-right .puzzle-pic {
  left: auto;
  right: 50px;
  transform: translateX(100%); }

.puzzle.-right .puzzle-content {
  padding: 60px 40px 20px 100px; }
  .puzzle.-right .puzzle-content::before {
    background-image: url(./../images/background/puzzle02.png); }

.puzzle.-bottom .puzzle-pic {
  top: auto;
  bottom: -50px;
  left: 60px; }

.puzzle.-bottom .puzzle-content {
  padding: 100px 75px 20px 50px; }
  .puzzle.-bottom .puzzle-content::before {
    background-image: url(./../images/background/puzzle02.png);
    transform: rotate(180deg); }

.puzzle.-right.-bottom .puzzle-pic {
  left: auto;
  right: 80px; }

.puzzle.-right.-bottom .puzzle-content {
  padding: 100px 40px 20px 110px; }
  .puzzle.-right.-bottom .puzzle-content::before {
    background-image: url(./../images/background/puzzle01.png); }

@media only screen and (max-width: 1279px) {
  .puzzle.-right.-bottom .puzzle-pic {
    right: 140px;
    bottom: -120px; } }

@media only screen and (max-width: 1023px) {
  .puzzle.-right .puzzle-pic {
    right: 40px; }
  .puzzle.-right .puzzle-content {
    padding: 35px 30px 40px 60px; }
  .puzzle.-bottom .puzzle-pic {
    left: 50px;
    bottom: -8px; }
  .puzzle.-bottom .puzzle-content {
    padding: 65px 40px 15px 30px; }
  .puzzle.-right.-bottom .puzzle-pic {
    right: 105px;
    bottom: -90px; }
  .puzzle.-right.-bottom .puzzle-content {
    padding: 65px 25px 15px 70px; } }

.taskGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -60px -5px; }
  .taskGrid-item {
    margin: 60px 5px; }
  @media only screen and (max-width: 1023px) {
    .taskGrid {
      display: block;
      margin: 0; }
      .taskGrid-item {
        margin: 0; } }

.task {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center; }
  .task-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 500;
    color: #0d5199; }
    .task-title .num {
      box-sizing: border-box;
      width: 23px;
      height: 23px;
      margin-right: 10px;
      padding-top: 5px;
      line-height: 1;
      font-size: 12px;
      color: #fff;
      border-radius: 50%;
      background-color: #0d5199; }
  .task-subTitle {
    margin-bottom: 17px;
    font-weight: 500;
    color: #ea6000; }
    .task-subTitle span {
      font-size: 12px; }
  .task-text {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    margin: 20px 0; }
  .task-btn {
    padding: 11px 23px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    background-color: #4179ce; }
  .task-note {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    margin-top: 15px;
    font-size: 12px;
    color: #0d5199;
    text-align: left; }
  @media only screen and (min-width: 1024px) {
    .task-btn {
      transition: .3s; }
      .task-btn:hover {
        transform: scale(1.1); } }
  @media only screen and (max-width: 1023px) {
    .task-title {
      margin-bottom: 8px;
      font-size: 20px; }
      .task-title .num {
        width: 21px;
        height: 21px;
        padding-top: 4px; }
    .task-subTitle {
      margin-bottom: 15px; }
    .task-text {
      margin: 17px 0;
      font-size: 15px; }
    .task-btn {
      font-size: 16px; }
    .task-note {
      transform: translateX(-50%) scale(0.9);
      width: 100%;
      text-align: center; } }

.lotteryGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -40px -25px; }
  .lotteryGrid-item {
    flex: 0 0 auto;
    margin: 40px 25px; }
  .lotteryGrid-wrap {
    flex: 0 0 auto;
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .lotteryGrid {
      margin: -20px 0; }
      .lotteryGrid-item {
        width: 50%;
        margin: 20px 0; } }

.lottery {
  text-align: center; }
  .lottery-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: 500;
    color: #ffb900; }
  .lottery-text {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #fff; }
  @media only screen and (max-width: 1023px) {
    .lottery-pic img {
      width: 160px; }
    .lottery-title {
      margin-top: 15px;
      font-size: 18px; }
    .lottery-text {
      font-size: 14px; } }

.giftGrid {
  max-width: 1025px;
  margin: 0 auto; }
  .giftGrid-title {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 500;
    color: #005bab;
    text-align: center; }
    .giftGrid-title span {
      font-size: 44px;
      color: #ea6000; }
  .giftGrid-content {
    display: flex; }
  .giftGrid-item {
    flex: 1;
    padding: 0 60px 40px; }
    .giftGrid-item + .giftGrid-item {
      border-left: 1px solid #4179ce; }
  @media only screen and (max-width: 1023px) {
    .giftGrid-title {
      margin-bottom: 30px;
      font-size: 24px; }
      .giftGrid-title span {
        font-size: 30px; }
    .giftGrid-content {
      margin: 0 -20px; }
    .giftGrid-item {
      padding: 0 20px 10px; } }

.gift {
  text-align: center; }
  .gift-title {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
    color: #ea6000; }
    .gift-title span {
      display: inline-block;
      vertical-align: middle; }
    .gift-title .type {
      margin-right: 20px;
      padding: 3px 32px 4px;
      font-size: 24px;
      color: #4179ce;
      border-radius: 23px;
      border: solid 2px #4179ce; }
  .gift-text {
    font-size: 18px;
    text-align: left; }
    .gift-text b {
      color: #ea6000; }
  @media only screen and (max-width: 1023px) {
    .gift-pic img {
      width: 120px; }
    .gift-title {
      margin: 15px 0 8px;
      font-size: 20px; }
      .gift-title span {
        display: block; }
      .gift-title .type {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 5px;
        padding: 3px 22px 4px;
        font-size: 16px;
        border: solid 1px #4179ce; }
    .gift-text {
      font-size: 14px; } }

.notice {
  margin-top: 65px;
  padding: 0 30px;
  border-radius: 10px;
  border: solid 3px #4179ce;
  background-color: #fff; }
  .notice-action {
    position: relative;
    display: block;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    color: #4179ce;
    text-decoration: none; }
    .notice-action::after {
      content: '＋';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      font-size: 1.2em;
      transition: .3s; }
    .notice-action.open::after {
      content: '—';
      transform: translateY(-50%) rotate(180deg); }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 2px solid #4179ce; }
  @media only screen and (max-width: 767px) {
    .notice {
      margin-top: 50px;
      padding: 0 20px;
      border: solid 2px #4179ce; }
      .notice-action {
        padding: 20px 0;
        font-size: 16px; }
      .notice-content {
        padding: 20px 0;
        font-size: 14px;
        border-top: 1px solid #4179ce; } }

ol {
  margin: 0;
  padding-left: 30px; }
  ol > li > ol {
    list-style-type: none;
    padding-left: 32px; }
    ol > li > ol > li {
      position: relative;
      counter-increment: section; }
      ol > li > ol > li::before {
        content: "(" counter(section, decimal) ")";
        position: absolute;
        top: 0;
        left: -5px;
        transform: translateX(-100%); }

.block .swiper-container-horizontal > .swiper-pagination-bullets,
.block .swiper-pagination-custom,
.block .swiper-pagination-fraction {
  bottom: -50px; }

.block .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 6px; }

.block .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #fff;
  opacity: 1; }
  .block .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #0d5199; }

.block .swiper-button-next,
.block .swiper-button-prev {
  top: 55%;
  width: 20px;
  background-image: url(./../images/icon/prev.png);
  background-size: 100%; }

.block .swiper-button-prev {
  left: 20px; }

.block .swiper-button-next {
  right: 20px;
  transform: rotate(180deg); }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

b {
  font-weight: 500; }

.coinBox {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 7px 30px;
  border-radius: 25.5px;
  background-color: #e6f0fb; }
  .coinBox-icon {
    flex: 0 0 auto; }
  .coinBox-text {
    flex: 1;
    margin-left: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-align: left; }
    .coinBox-text span {
      font-size: 20px;
      color: #ea6000; }
  @media only screen and (max-width: 1023px) {
    .coinBox {
      max-width: 560px;
      padding: 10px;
      border-radius: 8px; }
      .coinBox-icon img {
        width: 25px; }
      .coinBox-text {
        margin-left: 8px;
        font-size: 14px;
        letter-spacing: 0; }
      .coinBox span {
        font-size: 14px; } }

@media only screen and (min-width: 1024px) {
  .mobileOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .desktopOnly {
    display: none; } }

@media only screen and (min-width: 1024px) {
  .block-wrap.mobileOnly {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important; } }

@media only screen and (max-width: 1023px) {
  .block-wrap.desktopOnly {
    display: block !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important; } }
