html,
body {
  font-family: Arial, "Noto Sans TC", sans-serif, "Microsoft JhengHei", Helvetica;
  font-size: 16px;
  line-height: 1.5;
  color: #333; }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }
  @media only screen and (max-width: 767px) {
    html.is-menuOpen,
    body.is-menuOpen {
      overflow: hidden; } }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  .header .yuantaplusLogo {
    width: 130px;
    height: 39px;
    background-image: url(../images/logo/yuantaplus.svg);
    background-repeat: no-repeat; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; }
      .header .yuantaplusLogo {
        width: 120px;
        height: 36px; } }
  @media only screen and (max-width: 767px) {
    .header {
      justify-content: space-between; }
      .header .yuantaplusLogo {
        display: none; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 280px; } }
  @media only screen and (max-width: 767px) {
    .logo {
      width: 203px; } }

.menu {
  flex: 1;
  margin: 0 55px; }
  .menu-burger {
    display: none; }
  @media only screen and (max-width: 1023px) {
    .menu {
      margin: 0 35px; } }
  @media only screen and (max-width: 767px) {
    .menu {
      flex: 0 0 auto;
      margin: 0 10px; }
      .menu-burger {
        display: block; }
      .menu-nav {
        position: fixed;
        top: 59.5px;
        left: 100%;
        width: 100%;
        height: calc(100% - 59.5px);
        transition: .3s; }
      .is-menuOpen .menu-nav {
        left: 0; } }

.burger {
  padding: 8px 0;
  cursor: pointer; }
  .burger-line {
    width: 28px;
    height: 4px;
    background-color: #005bac;
    transition: .3s; }
    .burger-line:first-child {
      transform: translateY(-5px); }
    .burger-line:last-child {
      transform: translateY(5px); }
  .is-menuOpen .burger-line:first-child {
    transform: translateY(4px) rotate(45deg); }
  .is-menuOpen .burger-line:nth-child(2) {
    opacity: 0; }
  .is-menuOpen .burger-line:last-child {
    transform: translateY(-4px) rotate(-45deg); }

.nav {
  display: flex;
  justify-content: flex-end; }
  .nav a {
    font-size: 20px;
    font-weight: 500;
    color: #333;
    text-decoration: none; }
  .nav a + a {
    margin-left: 55px; }
  @media only screen and (min-width: 1024px) {
    .nav a:hover {
      color: #005bac; } }
  @media only screen and (max-width: 1023px) {
    .nav a {
      font-size: 16px; }
    .nav a + a {
      margin-left: 35px; } }
  @media only screen and (max-width: 767px) {
    .nav {
      box-sizing: border-box;
      display: block;
      height: 100%;
      padding: 50px;
      background-color: #effaff; }
      .nav a {
        display: block;
        padding: 14px;
        font-size: 18px;
        text-align: center; }
      .nav a + a {
        margin-left: 0;
        border-top: 1px solid #333; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px; }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.footer {
  box-sizing: border-box;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.3;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  .footer-wrap span + span {
    margin-left: 10px; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding: 10px 20px;
      font-size: 12px;
      line-height: 1.6;
      text-align: left; }
      .footer-wrap {
        margin-top: 10px; }
        .footer-wrap span {
          display: block; }
        .footer-wrap span + span {
          margin-left: 0; } }

/* ------------------------------- Floating tool ------------------------------- */
.gotop {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 63px;
  height: 63px;
  display: none;
  border-radius: 50%;
  z-index: 50; }
  @media only screen and (max-width: 767px) {
    .gotop {
      width: 45px;
      height: 45px;
      bottom: 20px;
      right: 20px; } }

.anchor {
  background-color: #fff;
  height: 70px; }
  .anchor-wrap {
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .anchor-wrap.-fixed {
      position: fixed;
      top: 79px;
      left: 0;
      width: 100%;
      z-index: 99;
      border-top: 1px solid #dddddd;
      box-shadow: 0px 2px 4px 0 rgba(198, 210, 216, 0.3);
      background-color: #fff; }
  .anchor-btn {
    flex: 0 1 225px;
    position: relative;
    padding: 20px 0;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #005bac;
    text-decoration: none;
    transition: .3s; }
    .anchor-btn span {
      position: relative;
      display: inline-block;
      width: 100%;
      z-index: 1; }
    .anchor-btn::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: -1px;
      width: calc(100% + 2px);
      height: 5px;
      background-color: #005bac;
      pointer-events: none;
      transition: .3s; }
    .anchor-btn + .anchor-btn span {
      border-left: 1px solid #005bac; }
    .anchor-btn.-active::after {
      bottom: 0; }
  @media only screen and (min-width: 1024px) {
    .anchor-btn:hover {
      color: #fff; }
      .anchor-btn:hover::after {
        bottom: 0;
        height: 70px; } }
  @media only screen and (max-width: 1023px) {
    .anchor {
      height: 59px; }
      .anchor-wrap.-fixed {
        top: 68px; }
      .anchor-btn {
        flex: 1;
        padding: 16px 0;
        font-size: 18px; } }
  @media only screen and (max-width: 767px) {
    .anchor {
      height: 48px; }
      .anchor-wrap.-fixed {
        top: 60px; }
      .anchor-btn {
        padding: 12px 0;
        font-size: 16px; }
        .anchor-btn::after {
          bottom: -3px;
          height: 3px; } }

.banner {
  position: relative;
  height: 500px;
  background-image: url(../images/banner/bg.jpg);
  background-size: 1920px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden; }
  .banner-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
    color: #fff; }
  .banner-logo img {
    width: 158px; }
  .banner-title {
    margin-bottom: 30px;
    font-size: 67px;
    font-weight: 500; }
  .banner-text {
    margin-bottom: 50px;
    font-size: 22px; }
    .banner-text p {
      margin-top: 10px;
      font-size: 17px; }
  .banner-btn {
    display: inline-block;
    padding: 12px 25px 12px 45px;
    text-decoration: none;
    background-color: #fff; }
    .banner-btn span {
      display: inline-block;
      vertical-align: middle;
      font-size: 18px;
      color: #005bac;
      letter-spacing: 3.5px; }
    .banner-btn img {
      width: 20px;
      margin-left: 3px;
      transition: .3s; }
  @media only screen and (min-width: 1024px) {
    .banner-btn:hover img {
      transform: translateX(10px); } }
  @media only screen and (max-width: 1023px) {
    .banner {
      height: 400px;
      background-size: 1540px; }
      .banner-logo img {
        width: 107px; }
      .banner-title {
        margin-bottom: 22px;
        font-size: 45px; }
      .banner-text {
        margin-bottom: 24px;
        font-size: 16px; }
        .banner-text p {
          margin-top: 5px;
          font-size: 13px; }
      .banner-btn {
        padding: 12px 25px 12px 40px; } }
  @media only screen and (max-width: 767px) {
    .banner {
      position: relative;
      height: 143vw;
      background-image: url(../images/banner/bg-mb.jpg);
      background-size: cover; }
      .banner-wrap {
        position: absolute;
        top: 50vw;
        left: 50%;
        transform: translateX(-50%);
        width: 225px;
        height: calc(100% - 50vw);
        padding: 0; }
      .banner-title {
        margin-bottom: 4vw; }
      .banner-text {
        margin-bottom: 8vw; }
        .banner-text p {
          margin-top: 1vw; } }

.action {
  display: flex;
  justify-content: center; }
  .action-item {
    flex: 0 1 350px;
    max-width: 350px; }
    .action-item + .action-item {
      margin-left: 37px; }
  @media only screen and (max-width: 767px) {
    .action {
      display: block; }
      .action-item {
        max-width: 210px;
        margin: auto; }
        .action-item + .action-item {
          margin-top: 20px;
          margin-left: auto; } }

.btn {
  position: relative;
  display: block;
  border-radius: 44px;
  cursor: pointer; }
  .btn:hover img {
    transform: translateY(8px); }
  @media only screen and (max-width: 767px) {
    .btn:hover img {
      transform: none; } }

.block {
  padding: 100px 0;
  background-color: #effaff; }
  .block-wrap {
    position: relative;
    box-sizing: border-box;
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px; }
    .block-wrap + .block-wrap {
      margin-top: 90px; }
  .block.-wt {
    position: relative;
    background-color: #fff; }
    .block.-wt::before, .block.-wt::after {
      content: '';
      position: absolute;
      width: 325px;
      height: 657px;
      background-image: url(./../images/background/block.png);
      background-repeat: no-repeat; }
    .block.-wt::before {
      top: 80px;
      left: 50%;
      transform: translateX(-50%) translateX(750px); }
    .block.-wt::after {
      bottom: 145px;
      left: 50%;
      transform: translateX(-50%) translateX(-680px); }
  @media only screen and (max-width: 1023px) {
    .block {
      padding: 80px 0; }
      .block-wrap + .block-wrap {
        margin-top: 70px; } }
  @media only screen and (max-width: 767px) {
    .block {
      padding: 60px 0; }
      .block-wrap + .block-wrap {
        margin-top: 60px; } }

.grid {
  display: flex;
  justify-content: center;
  align-items: center; }
  .grid + .grid {
    margin-top: 60px; }
  .grid-item {
    flex: 0 1 auto; }
    .grid-item img {
      max-width: 100%; }
    .grid-item.-text {
      flex: 0 1 395px; }
      .grid-item.-text.has-icons {
        flex: 0 0 420px; }
    .grid-item + .grid-item {
      margin-left: 40px; }
  .grid.-tab .grid-item + .grid-item {
    margin-left: 60px; }
  .grid.-top {
    align-items: flex-start; }
  .grid.-top .grid-item.-text {
    padding-top: 10px; }
  @media only screen and (max-width: 1023px) {
    .grid {
      align-items: flex-start; }
      .grid-item + .grid-item {
        margin-left: 25px; }
      .grid-item.-text {
        padding-top: 10px; }
        .grid-item.-text.has-icons {
          flex: 0 1 455px; }
      .grid.-tab .grid-item + .grid-item {
        margin-left: 30px; } }
  @media only screen and (max-width: 767px) {
    .grid {
      flex-direction: column;
      align-items: center; }
      .grid + .grid {
        margin-top: 40px; }
      .grid-item {
        flex: 0 0 auto;
        order: 2; }
        .grid-item img {
          width: 100%;
          max-width: 255px; }
        .grid-item + .grid-item {
          margin-left: 0;
          margin-top: 25px; }
        .grid-item.-text {
          flex: 0 0 auto;
          padding-top: 0;
          order: 1; }
          .grid-item.-text.has-icons {
            flex: 0 0 auto; }
      .grid.-tab .grid-item.-text {
        margin-bottom: 20px; }
      .grid.-tab .grid-item + .grid-item {
        margin-left: 0;
        margin-top: 0; }
      .grid.-top {
        align-items: center; }
      .grid.-top .grid-item.-text {
        padding-top: 0; } }

.iconGrid {
  display: flex;
  justify-content: center;
  margin: 0 -30px; }
  .iconGrid-item {
    flex: 1; }
  .iconGrid.-card {
    flex-wrap: wrap;
    margin: -20px; }
  .iconGrid.-card .iconGrid-item {
    flex: 0 0 auto;
    margin: 20px; }
  .iconGrid.-business {
    padding-top: 65px; }
  .iconGrid.-employee {
    margin: 0 -10px;
    padding-top: 45px; }
  .iconGrid.-employee .iconGrid-item {
    flex: 0 1 170px; }
  .iconGrid.-enjoyLearning {
    max-width: 625px;
    margin: 0 -30px 0 -40px; }
  @media only screen and (max-width: 1023px) {
    .iconGrid {
      margin: 0 -10px; }
      .iconGrid.-card {
        margin: -13px; }
      .iconGrid.-card .iconGrid-item {
        flex: 0 0 120px;
        margin: 13px; }
      .iconGrid.-business {
        padding-top: 25px; }
      .iconGrid.-employee {
        margin: 0 -30px 0 -20px;
        padding-top: 35px; }
      .iconGrid.-enjoyLearning {
        max-width: 450px;
        margin: 0 -10px 0 -20px; } }
  @media only screen and (max-width: 767px) {
    .iconGrid {
      display: block;
      max-width: 240px;
      margin: 0 auto; }
      .iconGrid.-card {
        margin: 0 auto; }
      .iconGrid.-card .iconGrid-item {
        margin: 0; }
      .iconGrid.-card .iconGrid-item + .iconGrid-item {
        margin-top: 25px; }
      .iconGrid.-business {
        padding-top: 15px; }
      .iconGrid.-employee {
        margin: 0 auto;
        padding-top: 30px; }
      .iconGrid.-enjoyLearning {
        max-width: 240px;
        margin: 0 auto; } }

.enjoyLearning {
  max-width: 900px;
  margin: -25px auto 0; }
  @media only screen and (max-width: 1023px) {
    .enjoyLearning {
      margin: -15px auto 0; } }
  @media only screen and (max-width: 767px) {
    .enjoyLearning {
      margin: 25px auto 0; } }

.award {
  text-align: center; }
  .award-head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
  .award-icon {
    margin-right: 30px; }
  .award-btn {
    display: none;
    margin-top: 25px;
    padding: 12px 25px;
    text-decoration: none;
    background-color: #3d7bca; }
    .award-btn span {
      display: inline-block;
      vertical-align: middle;
      font-size: 16px;
      color: #fff;
      letter-spacing: 3.5px; }
    .award-btn img {
      width: 18px;
      margin-left: 3px;
      transition: .3s; }
  @media only screen and (max-width: 1023px) {
    .award-head {
      margin-bottom: 20px; }
    .award-icon {
      margin-right: 20px; }
      .award-icon img {
        width: 140px; } }
  @media only screen and (max-width: 767px) {
    .award-icon {
      margin-right: 10px; }
      .award-icon img {
        width: 88px; }
    .award-title {
      flex: 0 0 auto;
      padding-top: 6px; }
    .award-btn {
      display: inline-block; }
    .award.is-open .award-btn {
      display: none; } }

.awardGrid {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto; }
  .awardGrid-item {
    box-sizing: border-box;
    flex: 0 0 33.33%;
    padding: 32px 10px;
    border-top: 1px solid #c6e5fb; }
    .awardGrid-item:nth-child(-n+3) {
      border-top: none; }
  @media only screen and (max-width: 1023px) {
    .awardGrid-item {
      flex: 0 0 50%;
      padding: 25px; }
      .awardGrid-item:nth-child(-n+3) {
        border-top: 1px solid #c6e5fb; }
      .awardGrid-item:nth-child(-n+2) {
        border-top: none; } }
  @media only screen and (max-width: 767px) {
    .awardGrid {
      display: block;
      max-width: 300px;
      margin: 0 auto; }
      .awardGrid-item {
        padding: 20px; }
        .awardGrid-item:nth-child(-n+2) {
          border-top: 1px solid #c6e5fb; }
        .awardGrid-item:first-child {
          border-top: none; }
        .awardGrid-item.-more {
          display: none; }
      .is-open .awardGrid-item.-more {
        display: block; } }

.card-collapse {
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  transform: translateY(-50%) translateY(-2.5px);
  border-radius: 50%;
  background-color: #3d7bca;
  cursor: pointer;
  z-index: 1; }
  .card-collapse::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 2px;
    color: #fff;
    background-color: #fff; }
  .card-collapse::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 14px;
    color: #fff;
    background-color: #fff; }

.card-list {
  display: none;
  font-size: 15px;
  line-height: 1.6; }
  .card-list.-chart {
    padding-left: 30px; }

.card.-simple .card-collapse {
  margin: 15px auto;
  transform: none; }

.card.is-open .card-collapse::after {
  content: none; }

@media only screen and (max-width: 1023px) {
  .card-collapse {
    width: 26px;
    height: 26px; }
    .card-collapse::before {
      width: 10px; }
    .card-collapse::after {
      height: 10px; }
  .card-list {
    font-size: 14px; }
    .card-list.-chart {
      padding-left: 20px; } }

@media only screen and (max-width: 767px) {
  .card {
    text-align: center; }
    .card-collapse {
      width: 24px;
      height: 24px;
      margin-bottom: -24px;
      transition: .3s; }
      .card-collapse::before {
        width: 9px; }
      .card-collapse::after {
        height: 9px; }
    .card.is-open .card-collapse {
      margin-bottom: 0; }
    .card-list {
      font-size: 13px; }
    .card.-simple {
      position: relative; }
    .card.-simple .card-collapse {
      position: absolute;
      top: 13px;
      right: 10px;
      margin: 0; }
    .card.-simple .card-list {
      padding: 15px 20px; } }

ul {
  margin: 0;
  padding-left: 10px; }
  ul > li {
    position: relative;
    list-style: none; }
    ul > li::before {
      content: '';
      position: absolute;
      top: 9px;
      left: -10px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #333; }
  ul.-cube {
    padding-left: 25px; }
    ul.-cube > li::before {
      content: '';
      top: 11px;
      left: -22px;
      width: 13px;
      height: 13px;
      border-radius: 0;
      background-color: #98cbef;
      transform: rotate(45deg); }
  @media only screen and (max-width: 1023px) {
    ul > li::before {
      top: 8px; }
    ul.-cube {
      padding-left: 20px; }
      ul.-cube > li::before {
        top: 9px;
        left: -18px;
        width: 10px;
        height: 10px; } }
  @media only screen and (max-width: 767px) {
    ul {
      display: inline-block;
      text-align: left; }
      ul > li::before {
        top: 7px;
        width: 5px;
        height: 5px; }
      .-simple ul {
        display: block; }
      ul.-cube {
        display: block;
        padding-left: 18px; }
        ul.-cube > li::before {
          top: 8px;
          left: -16px;
          width: 8px;
          height: 8px; } }

.tab-title {
  margin-bottom: 20px;
  font-size: 31px;
  font-weight: 500;
  text-align: center;
  color: #eb6100; }

.tab-nav {
  display: flex;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 30px; }

.tab-btn {
  flex: 1;
  padding: 15px;
  border: 2px solid #3d7bca;
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
  color: #3d7bca;
  text-align: center;
  text-decoration: none; }
  .tab-btn.-active {
    color: #fff;
    background-color: #3d7bca; }

.tab-content {
  display: none;
  margin-top: -35px;
  padding: 150px 30px 70px;
  box-shadow: 0px 4px 10px 0 rgba(220, 239, 249, 0.8);
  background-color: #fff; }
  .tab-content.-active {
    display: block; }

@media only screen and (max-width: 1023px) {
  .tab-nav {
    max-width: 560px;
    padding: 0 30px; }
  .tab-btn {
    padding: 10px;
    font-size: 20px; }
  .tab-content {
    margin-top: -27px;
    padding: 110px 30px 50px; } }

@media only screen and (max-width: 767px) {
  .tab-title {
    margin-bottom: 12px;
    font-size: 20px; }
  .tab-nav {
    max-width: 560px;
    padding: 0; }
  .tab-btn {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #3d7bca; }
  .tab-content {
    margin-top: 0;
    padding: 45px 30px 30px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

b {
  font-weight: 500; }
  b.-en {
    font-weight: bold; }

.stress {
  color: #eb6100; }

.title {
  font-size: 49px;
  font-weight: 500;
  color: #3d7bca; }
  .title.-sub {
    font-size: 38px; }
  @media only screen and (max-width: 1023px) {
    .title {
      font-size: 36px; } }
  @media only screen and (max-width: 767px) {
    .title {
      font-size: 28px;
      text-align: center; }
      .title.-sub {
        font-size: 28px; } }

.textInfo-title {
  margin-bottom: 20px; }

.textInfo-content {
  font-size: 20px;
  line-height: 1.8; }

@media only screen and (max-width: 1023px) {
  .textInfo-title {
    margin-bottom: 15px; }
  .textInfo-content {
    font-size: 16px; } }

@media only screen and (max-width: 767px) {
  .textInfo-title {
    margin-bottom: 10px; }
  .textInfo-content {
    font-size: 15px; } }

.iconInfo {
  position: relative;
  text-align: center;
  padding: 0 30px; }
  .iconInfo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 104px;
    background-color: #3d7bca; }
  .iconInfo.-first::before {
    content: none; }
  .iconInfo-pic {
    margin-bottom: 10px; }
    .iconInfo-pic img {
      width: 70px; }
  .iconInfo-text {
    font-weight: 500;
    color: #3d7bca; }
  .iconInfo.-card {
    box-sizing: border-box;
    width: 170px;
    padding: 40px 25px 30px;
    box-shadow: 0px 4px 10px 0 rgba(220, 239, 249, 0.8);
    border-bottom: 5px solid #3d7bca;
    background-color: #fff; }
    .iconInfo.-card::before {
      content: none; }
  .iconInfo.-card .iconInfo-pic {
    margin-bottom: 20px; }
    .iconInfo.-card .iconInfo-pic img {
      width: 80px; }
  .iconInfo.-card .iconInfo-text {
    font-size: 18px;
    color: #333; }
    .iconInfo.-card .iconInfo-text.-og {
      color: #eb6100; }
  .-employee .iconInfo {
    padding: 0 5px; }
  @media only screen and (max-width: 1279px) {
    .iconInfo.-card {
      width: 154px;
      padding: 35px 20px 25px; } }
  @media only screen and (max-width: 1023px) {
    .iconInfo {
      padding: 0 10px; }
      .iconInfo::before {
        height: 82px; }
      .iconInfo-pic img {
        width: 50px; }
      .iconInfo-text {
        font-size: 15px; }
      .iconInfo.-card {
        width: 120px;
        padding: 30px 10px 20px; }
      .iconInfo.-card .iconInfo-pic {
        margin-bottom: 10px; }
        .iconInfo.-card .iconInfo-pic img {
          width: 60px; }
      .iconInfo.-card .iconInfo-text {
        font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .iconInfo {
      display: flex;
      align-items: center;
      padding: 10px 40px;
      text-align: left; }
      .iconInfo::before {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 1px; }
      .iconInfo.-first::before {
        content: ''; }
      .iconInfo.-last::before {
        content: none; }
      .iconInfo-pic {
        flex: 0 0 auto;
        margin-bottom: 0;
        margin-right: 15px; }
        .iconInfo-pic img {
          width: 30px; }
      .iconInfo-text {
        flex: 1; }
      .iconInfo.-card {
        width: 100%;
        padding: 13px 35px 13px 30px;
        border-bottom: 4px solid #3d7bca; }
      .iconInfo.-card .iconInfo-pic {
        margin-bottom: 0;
        margin-right: 20px; }
        .iconInfo.-card .iconInfo-pic img {
          width: 50px; }
      .iconInfo.-card .iconInfo-text {
        font-size: 17px; }
      .-employee .iconInfo {
        padding: 10px 40px 10px 20px; }
      .-enjoyLearning .iconInfo {
        padding: 10px 50px; } }

.numInfo-title {
  margin-bottom: 10px; }
  .numInfo-title span {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
    font-weight: 500;
    color: #005bac; }
  .numInfo-title .num {
    width: 37px;
    margin-top: 2px;
    margin-right: 10px;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #fff;
    background-color: #005bac; }

.numInfo-content {
  font-size: 18px; }

@media only screen and (max-width: 1023px) {
  .numInfo-content {
    font-size: 16px; } }

@media only screen and (max-width: 767px) {
  .numInfo-title span {
    font-size: 17px; }
  .numInfo-title .num {
    width: 26px;
    margin-top: 0;
    margin-right: 5px;
    font-size: 15px;
    line-height: 26px; }
  .numInfo-content {
    font-size: 15px; } }

.medal {
  display: flex;
  text-align: left; }
  .medal-pic {
    flex: 0 0 auto;
    margin-right: 5px; }
    .medal-pic img {
      width: 47px; }
  .medal-content {
    flex: 1;
    font-size: 15.5px;
    line-height: 1.7; }
    .medal-content p {
      color: #005bac; }
  @media only screen and (max-width: 767px) {
    .medal-pic img {
      width: 42px; }
    .medal-content {
      font-size: 14px;
      line-height: 1.6; } }

@media only screen and (min-width: 1024px) {
  .mobileOnly {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .desktopOnly {
    display: none !important; } }

@media only screen and (min-width: 768px) {
  .mobileDownOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .padUpOnly {
    display: none; } }

.hidden {
  display: none; }
