html,
body {
  font-family: "Noto Sans TC", sans-serif, Arial, "Microsoft JhengHei", Helvetica;
  font-size: 20px;
  line-height: 1.5;
  color: #333; }
  @media only screen and (max-width: 767px) {
    html,
    body {
      font-size: 16px; } }

a,
button {
  outline: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/*
 * Browser Upgrade Prompt
 */
.browserupgrade {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  margin: 0.2em 0;
  background: #ccc;
  padding: 0.2em 0; }

html,
body {
  height: 100%; }

.container {
  min-height: 100%;
  overflow: hidden; }

/* ------------------------------- Header ------------------------------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
  background-image: url(../images/background/header.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-color: white;
  z-index: 100; }
  @media only screen and (max-width: 1023px) {
    .header {
      padding: 16px; } }

.logo {
  display: inline-block;
  width: 308px; }
  .logo img {
    width: 100%; }
  @media only screen and (max-width: 1023px) {
    .logo {
      width: 203px; } }

/* ------------------------------- Main ------------------------------- */
.main {
  margin-top: 80px;
  background-color: #9edbf7;
  background-image: url(./../images/background/grid.png); }
  @media only screen and (max-width: 1023px) {
    .main {
      margin-top: 59.5px; } }

/* ------------------------------- Footer ------------------------------- */
.appDownload {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
          align-items: center;
  box-sizing: border-box;
  width: 780px;
  height: 205px;
  margin: auto;
  margin-top: 60px;
  padding-left: 30px;
  background-image: url(./../images/background/qrCode.png);
  background-repeat: no-repeat; }
  .appDownload-QRcode img {
    width: 245px;
    margin-right: 20px; }
  .appDownload-link {
    padding-top: 15px; }
    .appDownload-link h5 {
      margin-bottom: 13px;
      font-size: 15px;
      line-height: 19px;
      text-align: center; }
    .appDownload-link a {
      display: inline-block;
      padding: 0 3px;
      text-decoration: none;
      transition: .3s; }
    .appDownload-link img {
      width: 170px; }
  @media only screen and (min-width: 1024px) {
    .appDownload-link a:hover {
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%); } }
  @media only screen and (max-width: 1023px) {
    .appDownload {
      -webkit-justify-content: center;
              justify-content: center;
      width: 500px;
      height: 178px;
      padding-left: 0;
      background-image: url(./../images/background/qrCode-mb.png);
      background-size: 100%; }
      .appDownload-QRcode {
        display: none; }
      .appDownload-link {
        padding-top: 0; }
        .appDownload-link img {
          width: 140px; } }
  @media only screen and (max-width: 767px) {
    .appDownload {
      width: 100%;
      height: 160px;
      margin-top: 50px;
      background-size: 100% 100%; } }

.footer {
  box-sizing: border-box;
  padding: 20px 12px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #007fe0; }
  @media only screen and (max-width: 767px) {
    .footer {
      padding-bottom: 60px;
      text-align: left; } }

/* ------------------------------- Floating tool ------------------------------- */
.mediaIcons {
  position: fixed;
  bottom: 50%;
  right: 20px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  margin: 0;
  padding: 0;
  z-index: 20; }
  .mediaIcons li {
    margin: 20px 10px;
    list-style: none; }
    .mediaIcons li a {
      display: block;
      width: 33px;
      height: 33px;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      opacity: .4; }
      .mediaIcons li a.facebook {
        background-image: url(../images/icon/social/facebook-bk.png); }
      .mediaIcons li a.line {
        background-image: url(../images/icon/social/line-bk.png); }
      .mediaIcons li a.instagram {
        background-image: url(../images/icon/social/instagram-bk.png); }
      .mediaIcons li a.youtube {
        background-image: url(../images/icon/social/youtube-bk.png); }
      .mediaIcons li a.telegram {
        background-image: url(../images/icon/social/telegram-bk.png); }
  @media only screen and (min-width: 1024px) {
    .mediaIcons li a:hover {
      opacity: 1; }
      .mediaIcons li a:hover.facebook {
        background-image: url(../images/icon/social/facebook-hover.png); }
      .mediaIcons li a:hover.line {
        background-image: url(../images/icon/social/line-hover.png); }
      .mediaIcons li a:hover.instagram {
        background-image: url(../images/icon/social/instagram-hover.png); }
      .mediaIcons li a:hover.youtube {
        background-image: url(../images/icon/social/youtube-hover.png); }
      .mediaIcons li a:hover.telegram {
        background-image: url(../images/icon/social/telegram-hover.png); } }
  @media only screen and (max-width: 1023px) {
    .mediaIcons {
      right: 0; } }
  @media only screen and (max-width: 767px) {
    .mediaIcons {
      bottom: 0;
      right: 0;
      -webkit-transform: none;
              transform: none;
      width: 100%;
      padding: 4px 0;
      text-align: center;
      background-color: rgba(0, 159, 232, 0.9); }
      .mediaIcons li {
        display: inline-block;
        vertical-align: middle;
        margin: 6px; }
        .mediaIcons li a {
          width: 28px;
          height: 28px;
          opacity: 1; }
          .mediaIcons li a.facebook {
            background-image: url(../images/icon/social/facebook-wt.svg); }
          .mediaIcons li a.line {
            background-image: url(../images/icon/social/line-wt.svg); }
          .mediaIcons li a.instagram {
            background-image: url(../images/icon/social/instagram-wt.svg); }
          .mediaIcons li a.youtube {
            background-image: url(../images/icon/social/youtube-wt.svg); }
          .mediaIcons li a.telegram {
            background-image: url(../images/icon/social/telegram-wt.svg); } }

.gotop {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  opacity: .7;
  overflow: hidden;
  z-index: 50; }
  .gotop:hover {
    opacity: 1; }
  @media only screen and (max-width: 767px) {
    .gotop {
      right: 12px; } }

@-webkit-keyframes float {
  0% {
    -webkit-transform: none;
            transform: none; }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); } }

@keyframes float {
  0% {
    -webkit-transform: none;
            transform: none; }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px); } }

@-webkit-keyframes coinFloat {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@keyframes coinFloat {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px); } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.banner {
  position: relative;
  margin-bottom: -7%;
  padding-bottom: 42.5%;
  background-image: url(../images/banner/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
  .banner img {
    width: 100%; }
  .banner div {
    position: absolute; }
  .banner-man, .banner-light, .banner-box, .banner-coin {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .banner-man.bg {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  .banner-box {
    -webkit-animation-name: float;
            animation-name: float;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  .banner-light {
    -webkit-animation-name: coinFloat;
            animation-name: coinFloat;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  .banner-coin {
    -webkit-animation-name: coinFloat;
            animation-name: coinFloat;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 0.95s;
            animation-duration: 0.95s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
    .banner-coin.right {
      -webkit-animation-delay: .5s;
              animation-delay: .5s; }
  .banner-date {
    top: 12.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 16.5%; }
  .banner-title {
    top: 19%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 28%; }
    .banner-title.bottom {
      top: 36.5%; }
  .banner-subTitle {
    top: 54.5%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 28.5%; }
  @media only screen and (max-width: 1023px) {
    .banner {
      margin-bottom: -5%;
      padding-bottom: 150%;
      background-image: url(../images/banner/bg-mb.png);
      overflow: hidden; }
      .banner-date {
        top: 10%;
        width: 55%; }
      .banner-title {
        top: 17%;
        width: 68%; }
        .banner-title.bottom {
          top: 29%; }
      .banner-subTitle {
        top: 42%;
        width: 83%; } }
  @media only screen and (max-width: 412px) {
    .banner {
      margin-bottom: -29px; } }
  .banner .mobileOnly {
    display: block; }
    @media only screen and (min-width: 1024px) {
      .banner .mobileOnly {
        display: none; } }
  .banner .desktopOnly {
    display: block; }
    @media only screen and (max-width: 1023px) {
      .banner .desktopOnly {
        display: none; } }

.action {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 100%; }
  .action-item {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto; }
    .action-item + .action-item {
      margin-left: 37px; }
  @media only screen and (max-width: 767px) {
    .action {
      -webkit-flex-direction: column;
              flex-direction: column; }
      .action-item + .action-item {
        margin-top: 20px;
        margin-left: 0; } }

.btn {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
  width: 242px;
  height: 70px;
  font-size: 22px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-image: url(./../images/background/btn.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: .3s;
  cursor: pointer; }
  .btn p {
    padding-bottom: 3px; }
  .btn:hover {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px); }
  .btn.sm {
    font-size: 18px;
    line-height: 1.33; }
  @media only screen and (max-width: 767px) {
    .btn {
      width: 210px;
      height: 60px;
      font-size: 18px; }
      .btn p {
        padding-right: 15px; }
      .btn:hover {
        -webkit-transform: none;
                transform: none; }
      .btn.sm {
        font-size: 16px; } }

.content {
  padding-bottom: 110px; }
  @media only screen and (max-width: 767px) {
    .content {
      padding-bottom: 80px; } }

.wrap {
  position: relative;
  box-sizing: border-box;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px; }

.block {
  position: relative; }
  .block + .block {
    margin-top: 70px; }
  .block-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .block-content {
    position: relative;
    z-index: 1;
    padding: 13% 80px 8%; }
  .block-title {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%; }
    .block-title img {
      width: 100%; }
  @media only screen and (max-width: 1023px) {
    .block-title {
      width: 110%;
      -webkit-transform: translate(-50%, -5%);
              transform: translate(-50%, -5%); } }
  @media only screen and (max-width: 767px) {
    .block {
      min-height: 480px; }
      .block + .block {
        margin-top: 50px; }
      .block-title {
        width: 140%;
        -webkit-transform: translate(-50%, -13%);
                transform: translate(-50%, -13%); }
      .block-content {
        padding: 20% 50px 15%; } }
  @media only screen and (max-width: 412px) {
    .block {
      margin: 0 -20px; }
      .block-title {
        width: 160%;
        -webkit-transform: translate(-50%, 2%);
                transform: translate(-50%, 2%); } }

.frame {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
  height: 100%; }
  .frame img {
    width: 100%; }
  .frame-top, .frame-bottom {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto; }
  .frame-content {
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    background-image: url(./../images/block/frame-content.png);
    background-repeat: repeat-y;
    background-size: 100%; }
  .frame.even .frame-top, .frame.even .frame-bottom, .frame.even .frame-content {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }
  @media only screen and (max-width: 412px) {
    .frame-content {
      background-image: url(./../images/block/frame-content-mb.png); } }
  .frame .mobileOnly {
    display: block; }
    @media only screen and (min-width: 413px) {
      .frame .mobileOnly {
        display: none; } }
  .frame .desktopOnly {
    display: block; }
    @media only screen and (max-width: 412px) {
      .frame .desktopOnly {
        display: none; } }

.info {
  display: -webkit-flex;
  display: flex; }
  .info-item {
    -webkit-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column; }
    .info-item + .info-item {
      margin-left: 40px;
      padding-left: 40px;
      border-left: 1px solid #0045aa; }
  .info-item .info-pic img {
    width: 100%;
    max-width: 410px; }
  .info-pic {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    text-align: center; }
  .info-content {
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
            flex-direction: column;
    margin-top: 20px; }
  .info-text {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto;
    position: relative;
    padding-left: 35px; }
    .info-text::before {
      content: '';
      position: absolute;
      top: 1px;
      left: 0;
      display: block;
      width: 27px;
      height: 27px;
      background-image: url(./../images/block/plus.png); }
    .info-text + .info-text {
      margin-top: 20px; }
    .info-text ul {
      margin: 0;
      margin-top: 30px;
      padding-left: 25px;
      font-size: 16px;
      font-weight: bold;
      color: #049cdb; }
      .info-text ul span {
        font-weight: normal;
        color: #333; }
  .info-btn {
    -webkit-flex: 1 0 auto;
            flex: 1 0 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
            align-items: flex-end;
    margin-top: 30px; }
  .info.single .info-pic {
    -webkit-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
            align-items: center;
    margin-left: 40px; }
    .info.single .info-pic img {
      width: 100%;
      max-width: 375px; }
  .info.single .info-content {
    -webkit-flex: 1;
            flex: 1;
    margin-top: 0; }
  @media only screen and (max-width: 1023px) {
    .info {
      -webkit-flex-direction: column;
              flex-direction: column; }
      .info-item + .info-item {
        margin-left: 0;
        padding-left: 0;
        margin-top: 50px;
        padding-top: 50px;
        border-left: none;
        border-top: 1px solid #0045aa; }
      .info-pic {
        width: 100%; }
      .info-text ul {
        font-size: 14px;
        margin-top: 20px; }
      .info-btn {
        margin-top: 40px; }
      .info.single .info-pic {
        -webkit-order: 1;
                order: 1;
        display: block;
        margin-left: 0; }
      .info.single .info-content {
        -webkit-order: 2;
                order: 2;
        margin-top: 20px; } }
  @media only screen and (max-width: 767px) {
    .info-item .info-pic img {
      max-width: 400px; }
    .info-content {
      margin-top: 10px; }
    .info-text {
      padding-left: 25px; }
      .info-text + .info-text {
        margin-top: 10px; }
      .info-text::before {
        top: 2px;
        width: 20px;
        height: 20px;
        background-size: contain; }
    .info-btn {
      margin-top: 30px; }
    .info.single .info-pic img {
      max-width: 400px; }
    .info.single .info-content {
      margin-top: 10px; } }

.discount {
  width: 780px;
  margin: auto;
  margin-top: 80px; }
  .discount-title {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
    .discount-title strong {
      font-size: 1.68em; }
  .discount-item {
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    padding-right: 100px;
    background-image: url(./../images/background/frame.png);
    background-repeat: no-repeat;
    background-position: top 20px right; }
    .discount-item + .discount-item {
      margin-top: 20px; }
  .discount-icon {
    -webkit-flex: 0 0 auto;
            flex: 0 0 auto; }
  .discount-content {
    -webkit-flex: 1;
            flex: 1;
    margin-left: 25px; }
    .discount-content p {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #0045aa; }
      .discount-content p span {
        margin-left: 20px;
        font-weight: 500;
        font-style: italic;
        color: #f84935; }
  @media only screen and (max-width: 1023px) {
    .discount {
      width: 100%; }
      .discount-item {
        background-size: 250px; }
      .discount-content p span {
        margin-left: 10px; } }
  @media only screen and (max-width: 767px) {
    .discount {
      margin-top: 50px; }
      .discount-title {
        margin-bottom: 40px;
        font-size: 20px;
        line-height: 1.3; }
      .discount-item {
        position: relative;
        display: block;
        padding-right: 0;
        background-size: 180px; }
        .discount-item + .discount-item {
          margin-top: 40px; }
      .discount-icon img {
        width: 120px; }
      .discount-content {
        margin-left: 0;
        padding-top: 15px; }
        .discount-content p {
          position: absolute;
          top: 40px;
          left: 140px;
          font-size: 22px; }
          .discount-content p span {
            display: block;
            margin-left: 0; } }

.notice {
  margin-top: 65px;
  padding: 0 30px;
  border-radius: 10px;
  border: solid 3px #0045aa;
  background-color: rgba(237, 249, 255, 0.4); }
  .notice-action {
    position: relative;
    display: block;
    padding: 28px 0;
    font-size: 20px;
    font-weight: bold;
    color: #0045aa;
    text-decoration: none; }
    .notice-action::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      display: block;
      width: 20px;
      height: 20px;
      background-image: url(../images/icon/plus.png);
      background-repeat: no-repeat;
      background-size: contain;
      transition: .3s; }
    .notice-action.open::after {
      -webkit-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
  .notice-content {
    display: none;
    padding: 25px 0;
    font-size: 16px;
    border-top: 2px solid #0045aa; }
  @media only screen and (max-width: 767px) {
    .notice {
      margin-top: 50px;
      padding: 0 20px;
      border: solid 2px #0045aa; }
      .notice-action {
        padding: 20px 0;
        font-size: 16px; }
        .notice-action::after {
          display: block;
          width: 15px;
          height: 15px; }
      .notice-content {
        padding: 20px 0;
        font-size: 14px;
        border-top: 1px solid #0045aa; } }

ol {
  margin: 0;
  padding-left: 30px; }
  ol.chinese {
    list-style-type: none; }
    ol.chinese > li {
      position: relative; }
      ol.chinese > li::before {
        content: "(" attr(data-num) ")";
        position: absolute;
        top: 0;
        left: -3px;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
  ol.decimal {
    list-style-type: none; }
    ol.decimal > li {
      position: relative;
      counter-increment: decimal; }
      ol.decimal > li::before {
        content: "(" counter(decimal, decimal) ")";
        position: absolute;
        top: 0;
        left: -3px;
        -webkit-transform: translateX(-100%);
                transform: translateX(-100%); }
  @media only screen and (max-width: 767px) {
    ol {
      padding-left: 20px; }
      ol.chinese {
        padding-left: 25px; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 1em; }

p {
  margin: 0; }

.bold {
  font-weight: bold; }

.bu {
  font-weight: bold;
  color: #0045aa; }

.rd {
  font-weight: bold;
  color: #f84935; }

@media only screen and (min-width: 768px) {
  .mobileOnly {
    display: none; } }

@media only screen and (max-width: 767px) {
  .desktopOnly {
    display: none; } }
